*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color:rgb(170, 129, 222);
    text-align: center;
}
section{
    flex: 70%;
    background-color:pink;
    padding: 20px;
    text-align: justify;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}
#botones{
    background-color: rgb(170, 129, 222);
    padding: 10px;
}
#botones button{
    background-color:pink;
    font-size: larger;
    font-weight: bold;
}
#botones button:hover{
    background-color: blueviolet;
    color:white
}
#productos{
    background-color: white;
text-align: center;
font-size: medium;
border: 4px solid violet;
height: auto;
width: 350px;
margin: 10px;
}
#productos img{
display: flexbox;
width: 300px;
}
#productos button{
    background-color: red;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
}
#pro{
    width: auto;
    background-color: aliceblue;
}
#imagen{
    width: 70%;
}
#admin{
    background-color: cornflowerblue;
}