*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-color:rgb(170, 129, 222);
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(190, 13, 184);
    justify-content: center;
}

nav a{
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-size: larger;
    text-align: center;
    width: 25%;
    
}
nav a:hover{
    background-color: #FB6DFD;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    background-color:blueviolet;
    padding: 20px;
    text-align: justify;
}

section{
    flex: 70%;
    background-color:pink;
    padding: 20px;
    text-align: justify;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
}

footer{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

@media screen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
    nav a{
        width: 100%;
    }
}
form{
    
background-color:#FB6DFD;
align-content: center;
}
#botones{
    background-color: red;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}
#productos{
    background-color: white;
text-align: center;
font-size: medium;
border: 4px solid violet;
height: auto;
width: 350px;
margin: 10px;
}
#productos img{
display: flexbox;
width: 300px;

}
#sproducto{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: center;

}
#productos button{
    background-color: red;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
}
#pro{
    width: auto;
    background-color: aliceblue;
}
#ubicacion img{
width: 80%;

}
#form{
    display: flex;
    text-align: center;
}

#scc1{
    width: 90%;
    
}
