*{
    padding: 0 auto;
    margin: 0 auto;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#loginbody{
    justify-content: center;
}
#login{
    flex-wrap: wrap;
    width: 500px;
    padding-bottom: 10px;
    background-color:orangered;
    text-align: center;
    font-size: larger;
}
#login h3{
    color: black;
}
#login button{
    font-weight: bolder;
}
button:hover{
 background-color: orange;
}
#form{   
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#mensaje{
    border: 1px solid black;
    background-color: white;
    font-size: 25px;
    font-weight: bold;
}

#regre{
    font-weight: bolder;
}